*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1.05rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
}

.logo{
  width: 80px;
  object-fit: contain;  
}

.avatar{
    width: 30px;
    object-fit: contain;
}